*{
  font-family: 'Georgia' , serif;

}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.boton-contenedor {
  border-radius: 10px;
  overflow: hidden;
  width: 200px; 
  height: 200px; 
  margin: 15px;
}

button.btn {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px; 
}

button.btn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h4 {
  margin: 15px;
}

hr {
  height: 5px;
  border-left: 3px solid #000;
}

h2 {
  margin: 15px;
}

a {
  margin: 5%;
}

.card {
  margin: 15px;
}

.cart-icon {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
  min-width: 20px;
  text-align: center;
}

.card-img-top {
  height: 200px;
  object-fit: contain;
}

.container-fluid img{
  margin: 15px;
}

.modal-dialog {
  max-width: 800px; 
}

.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
}

.nav-item:hover .sub-menu {
  display: block;
}

.collapse.show {
  display: block;
}

.collapse {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding: 1rem;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-top: none;
}
.navegacion {
  width: 80%; 
  margin: 0 auto; 
}

.menu {
  list-style: none;
  padding: 0;
  text-align: center; 
}

.menu li {
  display: inline-block;
  position: relative;
  margin-right: 20px; 
}

.menu li a {
  text-decoration: none;
  color: #333;
  font-size: 18px; 
  display: block;
  padding: 10px;
}

.menu li a:hover {
  color: #007bff;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px;
}

.menu li:hover .submenu {
  display: block;
}

.submenu li {
  display: block;
  text-align: left;
}

.submenu li a {
  padding: 5px 10px;
  color: #333;
}

.submenu li a:hover {
  background-color: #ddd;
}
body {
  font-size: 10px;
}

.container {
  display: flex;
  align-items: flex-start;
}

.contelogo {
  margin-right: 20px;
}

.col {
  flex: 1;
  margin-right: 5px; 
  box-sizing: border-box;
}

.content {
  margin-bottom: 10px; 
}

p, ul {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

a:hover {
  color: #007bff;
}
ul li a {
  text-decoration: none;
  color: #333; 
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}


.section {
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
  margin-bottom: 20px; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
}


.icon {
  margin-bottom: 10px; 
}

.icon {
  display: flex;
  align-items: center;
  margin-bottom: 10px; 
}

.icon i {
  margin-right: 10px;
  margin-left: 5px; 
}

.about-us {
  text-align: center;
}

.about-us h3 {
  margin-bottom: 10px;
}

.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  margin-top: 20px; 
}

a i {
  text-decoration: none;
}

/* inicio sesion */

.fondo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 400px;
  height: 0; 
  background: #DCDCDC; /* Color de fondo original */
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  overflow: hidden;
  transition: height 0.5s ease; 
}

.fondo.active {
  height: 455px; 
}

.fondo .contenedor-form {
  width: 100%;
  padding: 40px;
  transition: transform .17s ease; 
}

.fondo.active .contenedor-form.login {
  transform: translateX(-50%); 
}

.fondo.active .contenedor-form.registrar {
  transform: translateX(-50%); 
}
/* fin inicio sesion */

/* destacado */

* Globales */
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Lato';
    color: #333;
}

.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
}

.icon-cart:hover{
    cursor: pointer;
}

img{
    max-width: 100%;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
}

.container-icon{
    position: relative;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}

/* Main */
.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item figure {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Altura fija para todos los elementos figure */
    overflow: hidden;
}

.item figure img{
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: 100%; /* Ocupa todo el alto del contenedor */
    object-fit: contain; /* Mantiene la proporción sin cortar la imagen */
    object-position: center; /* Centra la imagen */
    transition: transform 0.5s; /* Agregado: transición suave al hacer hover */
}

/* Main */
.item figure {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Altura fija para todos los elementos figure */
    overflow: hidden;
}


.item:hover img{
    transform: scale(1.1); /* Agregado: zoom suave al hacer hover */
}


.item:hover img{
    transform: scale(1.1); /* Agregado: zoom suave al hacer hover */
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}

.cart-empty{
    padding: 20px;
    text-align: center;
}


.hidden{
    display: none;
}
