<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>LibreriaFMN/autordelMes</title>

  {% load static%}

  <link rel="stylesheet" href="{% static 'css/diseño.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <script src="https://kit.fontawesome.com/5c058e9f8c.js" crossorigin="anonymous"></script>
</head>

<body>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

  {% include 'base/header.html' %}

  <main>
    <!-- inicio titulo -->

    <center>
      <h2>Gabriela Días</h2>
    </center>

    <!-- fin -->

    <div class="autor-mes">
      <img src="{% static 'images/imgAutorMes/autorMes.png' %}" alt="Cargando..." width="340px" />
      
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
        veniam cumque maxime deleniti repellendus doloribus molestiae
        voluptates voluptate quisquam obcaecati harum nobis excepturi id
        placeat ex, nam veritatis nemo commodi? Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Nemo architecto nesciunt ipsum itaque, a
        unde nostrum voluptate quidem doloremque dolores earum libero
        doloribus, alias aperiam repellendus maxime corporis! Sunt, inventore!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci
        facilis vitae repudiandae sunt rem pariatur quis sed aspernatur
        recusandae soluta, dolorum placeat eligendi dicta perspiciatis non
        odio et officiis voluptatum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
        veniam cumque maxime deleniti repellendus doloribus molestiae
        voluptates voluptate quisquam obcaecati harum nobis excepturi id
        placeat ex, nam veritatis nemo commodi? Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Nemo architecto nesciunt ipsum itaque, a
        unde nostrum voluptate quidem doloremque dolores earum libero
        doloribus, alias aperiam repellendus maxime corporis! Sunt, inventore!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci
        facilis vitae repudiandae sunt rem pariatur quis sed aspernatur
        recusandae soluta, dolorum placeat eligendi dicta perspiciatis non
        odio et officiis voluptatum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
        veniam cumque maxime deleniti repellendus doloribus molestiae
        voluptates voluptate quisquam obcaecati harum nobis excepturi id
        placeat ex, nam veritatis nemo commodi? Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Nemo architecto nesciunt ipsum itaque, a
        unde nostrum voluptate quidem doloremque dolores earum libero
        doloribus, alias aperiam repellendus maxime corporis! Sunt, inventore!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci
        facilis vitae repudiandae sunt rem pariatur quis sed aspernatur
        recusandae soluta, dolorum placeat eligendi dicta perspiciatis non
        odio et officiis voluptatum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
        veniam cumque maxime deleniti repellendus doloribus molestiae
        voluptates voluptate quisquam obcaecati harum nobis excepturi id
        placeat ex, nam veritatis nemo commodi? Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Nemo architecto nesciunt ipsum itaque, a
        unde nostrum voluptate quidem doloremque dolores earum libero
        doloribus, alias aperiam repellendus maxime corporis! Sunt, inventore!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    </div>

    <br>

    
    <!-- inicio cambio climatico -->
    <br>
    <center>
      <h1>Libros de Gabriela Días</h1>
    </center>
    <br>
    <!-- cartas -->
    <div class="container-cart-products hidden-cart">
      <div class="row-product hidden">
        <div class="cart-product">
          <div class="info-cart-product">
            <span class="cantidad-producto-carrito">1</span>
            <p class="titulo-producto-carrito"> nombre producto</p>
            <span class="precio-producto-carrito">$16.900</span>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="icon-close">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </div>
      </div>

      <div class="cart-total hidden">
        <h3>Total:</h3>
        <span class="total-pagar">$200</span>
      </div>
      <p class="cart-empty">El carrito está vacío</p>
    </div>
    </div>

    <div class="container-items">

      <div class="item">
        <figure>
          <img src="destacado/" alt="producto" width="140" />
        </figure>
        <div class="info-product">
          <h2>nombre del libro </h2>
          <p class="price">$precio</p>
          <button class="btn-add-cart">Añadir al carrito</button>
        </div>
      </div>

      <div class="item">
        <figure>
          <img src="destacado/" alt="producto" width="140" />
        </figure>
        <div class="info-product">
          <h2>nombre del libro </h2>
          <p class="price">$precio</p>
          <button class="btn-add-cart">Añadir al carrito</button>
        </div>
      </div>

      <div class="item">
        <figure>
          <img src="destacado/" alt="producto" width="140" />
        </figure>
        <div class="info-product">
          <h2>nombre del libro </h2>
          <p class="price">$precio</p>
          <button class="btn-add-cart">Añadir al carrito</button>
        </div>
      </div>

   
      <div class="item">
        <figure>
          <img src="destacado/" alt="producto" width="140" />
        </figure>
        <div class="info-product">
          <h2>nombre del libro </h2>
          <p class="price">$preciop>
          <button class="btn-add-cart">Añadir al carrito</button>
        </div>
      </div>

      <div class="item">
        <figure>
          <img src="destacado/" alt="producto" width="140" />
        </figure>
        <div class="info-product">
          <h2>nombredel libro </h2>
          <p class="price">$precio</p>
          <button class="btn-add-cart">Añadir al carrito</button>
        </div>
      </div>
      <div class="item">
        <figure>
          <img src="destacado/" alt="producto" width="140" />
        </figure>
        <div class="info-product">
          <h2>nombre del libro </h2>
          <p class="price">$precio</p>
          <button class="btn-add-cart">Añadir al carrito</button>
        </div>
      </div>

      <div class="item">
        <figure>
          <img src="destacado/" alt="producto" width="140" />
        </figure>
        <div class="info-product">
          <h2>nombre del libro </h2>
          <p class="price">$precio</p>
          <button class="btn-add-cart">Añadir al carrito</button>
        </div>
      </div>

    <div class="item">
      <figure>
        <img src="destacado/" alt="producto" width="140" />
      </figure>
      <div class="info-product">
        <h2>nombre del libro </h2>
        <p class="price">$precio</p>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </div>

    <div class="item">
      <figure>
        <img src="destacado/" alt="producto" width="140" />
      </figure>
      <div class="info-product">
        <h2>nombre del libro </h2>
        <p class="price">precio</p>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </div>

    </div>


  </main>
<br>

  {% include 'base/footer.html'%}
  
  <script src="{% static "js/app.js" %}"></script>

</body>

</html>