<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LibreriaFMN/Destacado</title>

  {% load static%}

  <link rel="stylesheet" href="{% static 'css/diseño.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <script src="https://kit.fontawesome.com/5c058e9f8c.js" crossorigin="anonymous"></script>
</head>

<body>
  <script src="js/bootstrap.bundle.min.js"></script>

  {% include 'base/header.html' %}

  <main>
    <!-- inicio categoria -->
    <br>
    <center>
      <h1>Comics y Mangas</h1>
    </center>
    <br>
    <!-- cartas -->
    <div class="container-cart-products hidden-cart">
      <div class="row-product hidden">
        <div class="cart-product">
          <div class="info-cart-product">
            <span class="cantidad-producto-carrito">1</span>
            <p class="titulo-producto-carrito"> nombre producto</p>
            <span class="precio-producto-carrito">$16.900</span>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="icon-close">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </div>
      </div>

      <div class="cart-total hidden">
        <h3>Total:</h3>
        <span class="total-pagar">$200</span>
      </div>
      <p class="cart-empty">El carrito está vacío</p>
    </div>
    </div>

    <div class="container-items">

      <div class="item">
        <figure>
          <img src="destacado/comicmanga/a silent.jpg" alt="producto" width="140" />
        </figure>
        <div class="info-product">
          <h2>A silent voice 01 </h2>
          <p class="price">$13600</p>
          <button class="btn-add-cart">Añadir al carrito</button>
        </div>
      </div>

      <div class="item">
        <figure>
          <img src="destacado/comicmanga/amigasdeverdad.jpg" alt="producto" width="140" />
        </figure>
        <div class="info-product">
          <h2>Amigas de verdad</h2>
          <p class="price">$17490</p>
          <button class="btn-add-cart">Añadir al carrito</button>
        </div>
      </div>

      <div class="item">
        <figure>
          <img src="destacado/comicmanga/avengers.jpg" alt="producto" width="140" />
        </figure>
        <div class="info-product">
          <h2>Avengers - Tomo 06: La Llegada Del Fénix </h2>
          <p class="price">$14890</p>
          <button class="btn-add-cart">Añadir al carrito</button>
        </div>
      </div>


      <div class="item">
        <figure>
          <img src="destacado/comicmanga/batman.jpg" alt="producto" width="140" />
        </figure>
        <div class="info-product">
          <h2>Batman And Robin Eternal: Omnibus </h2>
          <p class="price">$116990</p>
          <button class="btn-add-cart">Añadir al carrito</button>
        </div>
      </div>

      <div class="item">
        <figure>
          <img src="destacado/comicmanga/wonderwoman.jpg" alt="producto" width="140" />
        </figure>
        <div class="info-product">
          <h2>Wonder Woman: Rebirth - Tomo 01: The Lies </h2>
          <p class="price">$20990 </p>
          <button class="btn-add-cart">Añadir al carrito</button>
        </div>
      </div>


      <div class="item">
        <figure>
          <img src="destacado/comicmanga/demonslayer.jpg" alt="producto" width="140" />
        </figure>
        <div class="info-product">
          <h2>demonslayer</h2>
          <p class="price">$24700</p>
          <button class="btn-add-cart">Añadir al carrito</button>
        </div>
      </div>

      <div class="item">
        <figure>
          <img src="destacado/comicmanga/dragonball.jpg" alt="producto" width="140" />
        </figure>
        <div class="info-product">
          <h2>Dragon Ball Compendio 01 - Guía De La Historia Y Su Mundo</h2>
          <p class="price">$37990</p>
          <button class="btn-add-cart">Añadir al carrito</button>
        </div>
      </div>

      <div class="item">
        <figure>
          <img src="destacado/comicmanga/saiko one.jpg" alt="producto" width="140" />
        </figure>
        <div class="info-product">
          <h2>Saiko One-Shots - Sobrecubierta Exclusiva </h2>
          <p class="price">$9990 </p>
          <button class="btn-add-cart">Añadir al carrito</button>
        </div>
      </div>

      <div class="item">
        <figure>
          <img src="destacado/comicmanga/spiderman.jpg" alt="producto" width="140" />
        </figure>
        <div class="info-product">
          <h2>Amazing Spider-Man</h2>
          <p class="price">$23490 </p>
          <button class="btn-add-cart">Añadir al carrito</button>
        </div>
      </div>
    </div>

  </main>

  <br>
  {% include 'base/footer.html'%}
  
  <script src="app.js"></script>
</body>

</html>