<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LibreriaFMN/Destacado</title>

  {% load static%}

  <link rel="stylesheet" href="{% static 'css/diseño.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
  <script src="https://kit.fontawesome.com/5c058e9f8c.js" crossorigin="anonymous"></script>
</head>

<body>
  <script src="js/bootstrap.bundle.min.js"></script>

  {% include 'base/header.html' %}

  <main>
    <!-- inicio cambio climatico -->
    <br>
    <center>
      <h1>Descuentos</h1>
    </center>
    <br>
    <!-- cartas -->
    <div class="container-cart-products hidden-cart">
      <div class="row-product hidden">
        <div class="cart-product">
          <div class="info-cart-product">
            <span class="cantidad-producto-carrito">1</span>
            <p class="titulo-producto-carrito"> nombre producto</p>
            <span class="precio-producto-carrito">$16.900</span>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="icon-close">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </div>
      </div>

      <div class="cart-total hidden">
        <h3>Total:</h3>
        <span class="total-pagar">$200</span>
      </div>
      <p class="cart-empty">El carrito está vacío</p>
    </div>
    </div>

    <div class="container-items">

      <div class="item">
        <figure>
          <img src="destacado/descuentos/cienañosdesoledad.gif" alt="producto" width="140" />
        </figure>
        <div class="info-product">
          <h2>Cien años de Soledad </h2>
          <p class="price">$17.592</p>
          <p><s>$21.990</s></p>
          <button class="btn-add-cart">Añadir al carrito</button>
        </div>
      </div>

      <div class="item">
        <figure>
          <img src="destacado/descuentos/harrypotterylapiedrafilosofal.jpg" alt="producto" width="140" />
        </figure>
        <div class="info-product">
          <h2>Harry Potter y la piedra filosofal </h2>
          <p class="price">$25.990</p>
          <p><s>$40.990</s></p>
          <button class="btn-add-cart">Añadir al carrito</button>
        </div>
      </div>

      <div class="item">
        <figure>
          <img src="destacado/descuentos/labestia.jpg" alt="producto" width="140" />
        </figure>
        <div class="info-product">
          <h2>La Bestia</h2>
          <p class="price">$10.990</p>
          <p><s>$12.790</s></p>
          <button class="btn-add-cart">Añadir al carrito</button>
        </div>
      </div>

   
      <div class="item">
        <figure>
          <img src="destacado/descuentos/lasmilyunanoches.webp" alt="producto" width="140" />
        </figure>
        <div class="info-product">
          <h2>Las Mil y una Noches </h2>
          <p class="price">$20.780>
            <p><s>$25.990</s></p>
          <button class="btn-add-cart">Añadir al carrito</button>
        </div>
      </div>

      <div class="item">
        <figure>
          <img src="destacado/descuentos/elcodigodavinci.jpg" alt="producto" width="140" />
        </figure>
        <div class="info-product">
          <h2>El Código Davinci </h2>
          <p class="price">$14.990</p>
          <p><s>$17.890</s></p>
          <button class="btn-add-cart">Añadir al carrito</button>
        </div>
      </div>
      <div class="item">
        <figure>
          <img src="destacado/descuentos/aliciaenelpaisdelasmaravillas.jpg" alt="producto" width="140" />
        </figure>
        <div class="info-product">
          <h2>Alicia en el Pais de las Maravillas </h2>
          <p class="price">$16.890</p>
          <p><s>$19.670</s></p>
          <button class="btn-add-cart">Añadir al carrito</button>
        </div>
      </div>

      <div class="item">
        <figure>
          <img src="destacado/descuentos/donquijotedelamancha.png" alt="producto" width="140" />
        </figure>
        <div class="info-product">
          <h2>Don Quijote de la Mancha </h2>
          <p class="price">$19.990</p>
          <p><s>$24.000</s></p>
          <button class="btn-add-cart">Añadir al carrito</button>
        </div>
      </div>

    <div class="item">
      <figure>
        <img src="destacado/descuentos/lavueltaalmundoen80dias.jpg" alt="producto" width="140" />
      </figure>
      <div class="info-product">
        <h2>La vuelta al mundo en 80 días </h2>
        <p class="price">$12.320</p>
        <p><s>$15.990</s></p>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </div>

    <div class="item">
      <figure>
        <img src="destacado/descuentos/matilda.jpeg" alt="producto" width="140" />
      </figure>
      <div class="info-product">
        <h2>Matilda </h2>
        <p class="price">$10.590</p>
        <p><s>$12.990</s></p>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </div>

    </div>

  </main>

  <br>
  {% include 'base/footer.html'%}
  
  <script src="app.js"></script>
</body>

</html>