<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LibreriaFMN/Destacado</title>

  {% load static%}

  <link rel="stylesheet" href="{% static 'css/diseño.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <script src="https://kit.fontawesome.com/5c058e9f8c.js" crossorigin="anonymous"></script>
</head>

<body>
  <script src="js/bootstrap.bundle.min.js"></script>

  {% include 'base/header.html' %}

  <main>
    <!-- inicio destacado -->
    <br>
    <center>
      <h1>DESTACADO</h1>
    </center>
    <div class="container-cart-products hidden-cart">
      <div class="row-product hidden">
        <div class="cart-product">
          <div class="info-cart-product">
            <span class="cantidad-producto-carrito">1</span>
            <p class="titulo-producto-carrito">Zapatos Nike</p>
            <span class="precio-producto-carrito">$80</span>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="icon-close">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </div>
      </div>

      <div class="cart-total hidden">
        <h3>Total:</h3>
        <span class="total-pagar">$200</span>
      </div>
      <p class="cart-empty">El carrito está vacío</p>
    </div>
    </div>
    </header>
    <div class="container-items">
      <div class="item">
        <figure>
          <img src="destacado/alfinalmuerenlosdos.png" alt="producto" width="140" />
        </figure>
        <div class="info-product">
          <h2>Al final mueren los dos</h2>
          <p class="price">$16900</p>
          <button class="btn-add-cart">Añadir al carrito</button>
        </div>
      </div>
      <div class="item">
        <figure>
          <img src="destacado/atravesdemiventana.webp" alt="producto" width="120" />
        </figure>
        <div class="info-product">
          <h2>Atraves de mi ventana</h2>
          <p class="price">$19990</p>
          <button class="btn-add-cart">Añadir al carrito</button>
        </div>
      </div>
      <div class="item">
        <figure>
          <img src="destacado/censurado.jpg" alt="producto" />
        </figure>
        <div class="info-product">
          <h2>Censurado</h2>
          <p class="price">$17990</p>
          <button class="btn-add-cart">Añadir al carrito</button>
        </div>
      </div>
      <div class="item">
        <figure>

          <img src="destacado/heartstopper.webp" alt="">

        </figure>
        <div class="info-product">
          <h2>Heartstopper</h2>
          <p class="price">$15990</p>
          <button class="btn-add-cart">Añadir al carrito</button>
        </div>
      </div>
      <div class="item">
        <figure>

          <img src="destacado/tokyorevengers.jpeg" alt="">

        </figure>
        <div class="info-product">
          <h2>Tokyo revengers</h2>
          <p class="price">$19990</p>
          <button class="btn-add-cart">Añadir al carrito</button>
        </div>
      </div>
      <div class="item">
        <figure>
         
            <img 
            src="destacado/Volumen_25.webp" 
            alt=""
            >
          
        </figure>
        <div class="info-product">
          <h2>One punch-man</h2>
          <p class="price">$19990</p>
          <button class="btn-add-cart">Añadir al carrito</button>
        </div>
      </div>
    </div>

  </main>

  <br>
  {% include 'base/footer.html'%}
  
  <script src="app.js"></script>
</body>

</html>