<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LibreriaFMN</title>

    {% load static%}

    <link rel="stylesheet" href="{% static 'css/diseño.css' %}" />
    <script
      src="https://kit.fontawesome.com/5c058e9f8c.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  </head>

  <body>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

   

    <header>
      <!-- slide 1 -->

      <div
        id="carouselExampleSlidesOnly"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="{% static 'images/envio.img/envio1.gif' %}"
              class="d-block w-100"
              alt="Cargando...1"
            />
          </div>
          <div class="carousel-item">
            <img
              src="{% static 'images/envio.img/envio2.gif' %}"
              class="d-block w-100"
              alt="Cargando..2"
            />
          </div>
          <div class="carousel-item">
            <img
              src="{% static 'images/envio.img/envio3.png' %}"
              class="d-block w-100"
              alt="Cargando...3"
            />
          </div>
          <div class="carousel-item">
            <img
              src="{% static 'images/envio.img/envio4.gif' %}"
              alt="Cargando...4"
            />
          </div>
        </div>
      </div>

      <!--  fin slide 1 -->

      
      {% include 'base/header.html' %}

      <!-- Fin link -->

      <!-- slide 2 -->

      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="{% static 'images/imgn.img/banner1.png' %}"
              class="d-block w-100"
              alt="Cargando...1"
            />
          </div>
          <div class="carousel-item">
            <img
              src="{% static 'images/imgn.img/banner2.png' %}"
              class="d-block w-100"
              alt="Cargando 2"
            />
          </div>
          <div class="carousel-item">
            <img
              src="{% static 'images/imgn.img/banner3.jpg' %}"
              class="d-block w-100"
              alt="Cargando 3"
            />
          </div>
          <div class="carousel-item">
            <img
              src="{% static 'images/imgn.img/banner4.png' %}"
              class="d-block w-100"
              alt="Cargando 4"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- fin slide 2 -->
      <br />
    </header>

    <main>
      <!-- titulo preventa -->

      <h2>Pre venta</h2>

      <!-- fin titulo -->

      <!-- carrusel preventa -->

      <div
        id="carouselExampleRide"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col">
                <img
                  src="{% static 'images/dsdo/preventa/percyjacksonyelcalizdelosdioses.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/preventa/laotracaradelaperfeccion.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/preventa/unalmadecenizaysangre.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/preventa/unmundooscuro.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/preventa/jaquematealamor.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/preventa/avecessoyunmardelagrimas.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col">
                <img
                  src="{% static 'images/dsdo/preventa/asesinatoparaprincipiantes.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/preventa/loquelanievesusurraalcaer.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/preventa/elfarodelosamoresdormidos.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/preventa/hotelmagnifique.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/preventa/hermanoshawthorne.webp' %}"
                  oky
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/preventa/uncorazonobstinado.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleRide"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleRide"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <br />
      <!-- fin  -->

      <!-- titulo juvenil -->
      <br />
      <h2>Juvenil</h2>

      <!-- fin titulo -->

      <!-- carrusel juvenil -->

      <div
        id="carouselExamplejuvenil"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col">
                <img
                  src="{% static 'images/dsdo/juvenil/elpoderdequererte.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/juvenil/elartedesernosotros.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/juvenil/eldiariodenikki.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/juvenil/melisabuscasemilla.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/juvenil/tuporpuracasualidad.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/juvenil/mafalda.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col">
                <img
                  src="{% static 'images/dsdo/juvenil/cuentosdebuenasnochesparaniñasrebeldes.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/juvenil/destrozaestediario.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/juvenil/isidoramoonvaalballet.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/juvenil/jackylashabichuelasmagicas.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/juvenil/ridicula.webp' %}"
                  oky
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/juvenil/unafiestadelreves.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExamplejuvenil"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExamplejuvenil"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <br />
      <!-- fin  -->

      <!-- titulo novedades -->
      <br />
      <h2>Novedades</h2>

      <!-- fin titulo -->

      <!-- carrusel  novedades-->

      <div
        id="carouselExamplenovedades"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col">
                <img
                  src="{% static 'images/dsdo/novedades/albordedelacaida.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/novedades/avuelodepajaro.webp' %}"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/novedades/bienvenidoalanhk.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/novedades/cocinaconharrypotter.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/novedades/cuestiondegustos.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/novedades/desdemiinterior.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col">
                <img
                  src="{% static 'images/dsdo/novedades/diassalvajes.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/novedades/hoyestanochemañana.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/novedades/malaonda.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/novedades/memoriaselaguilayeljaguar.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/novedades/starwarsdarthvader.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/novedades/todosloshombresdelrey.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExamplenovedades"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExamplenovedades"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <br />
      <!-- fin  -->

      <!-- titulo comic -->
      <br />
      <h2>Comic</h2>

      <!-- fin titulo -->

      <!-- carrusel  comic-->

      <div
        id="carouselExamplecomic"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col">
                <img
                  src="{% static 'images/dsdo/comic/aquaman.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/comic/archie.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/comic/auladejusticia.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/comic/deadpool.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/comic/deathnote.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/comic/he-manylosmastersdeluniverso.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col">
                <img
                  src="{% static 'images/dsdo/comic/losnuevosvengadores.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/comic/shazam.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/comic/starwars.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/comic/thewalkingdead.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/comic/thor.webp' %}"
                  oky
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/comic/tokyoghoul.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExamplecomic"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExamplecomic"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <br />
      <!-- fin  -->

      <!-- titulo manga -->
      <br />
      <h2>Manga</h2>

      <!-- fin titulo -->

      <!-- carrusel  manga-->

      <div
        id="carouselExamplemanga"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col">
                <img
                  src="{% static 'images/dsdo/comic/aquaman.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/comic/archie.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/comic/auladejusticia.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/comic/deadpool.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/comic/deathnote.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/comic/he-manylosmastersdeluniverso.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col">
                <img
                  src="{% static 'images/dsdo/comic/losnuevosvengadores.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/comic/shazam.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/comic/starwars.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/comic/thewalkingdead.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/comic/thor.webp' %}"
                  oky
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="col">
                <img
                  src="{% static 'images/dsdo/comic/tokyoghoul.webp' %}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExamplemanga"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExamplemanga"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <br />
      <hr />
      <br />
      <!-- fin  -->
      <!-- botones 1 -->

      <div class="container">
        <div class="boton-contenedor">
          <button onclick="window.location.href='{% url 'autorMes'%}'" class="btn">
            <img src="{% static 'images/imgn.img/autormes.png' %}" alt="Cargando..." />
          </button>
        </div>
        <div class="boton-contenedor">
          <button onclick="window.location.href='{% url 'harryPotter' %}'" class="btn">
            <img src="{% static 'images/imgn.img/harryPotter.png' %}" alt="Cargando..." />
          </button>
        </div>
        <div class="boton-contenedor">
          <button
            onclick="window.location.href='{% url 'promocionesEscolares' %}'"
            class="btn"
          >
            <img src="{% static 'images/imgn.img/promoescolares.png' %}" alt="Cargando..." />
          </button>
        </div>
        <div class="boton-contenedor">
          <button onclick="window.location.href='{% url 'descuentos' %}'" class="btn">
            <img src="{% static 'images/imgn.img/descuentos.png' %}" alt="Cargando..." />
          </button>
        </div>
      </div>

      <!-- fin botones 1-->
      <br />
      <!-- inicio titulo -->

      <h4>Tematicas Destacadas</h4>

      <!-- fin titulo -->

      <!-- inicio botones 2 -->
      <div class="container">
        <div class="boton-contenedor">
          <button
            onclick="window.location.href='{% url 'tematicaSaga' %}'"
            class="btn"
          >
            <img src="{% static 'images/tematicas/sagas.png' %}" alt="Cargando..." />
          </button>
        </div>

        <div class="boton-contenedor">
          <button onclick="window.location.href='{% url 'comicManga' %}'" class="btn">
            <img src="{% static 'images/tematicas/comicMangas.png' %}" alt="Cargando..." />
          </button>
        </div>

        <div class="boton-contenedor">
          <button onclick="window.location.href='{% url 'literatura' %}'" class="btn">
            <img src="{% static 'images/tematicas/literaturaChilena.png' %}" alt="Cargando..." />
          </button>
        </div>

        <div class="boton-contenedor">
          <button
            onclick="window.location.href='{% url 'novelaHolocausto.html' %}'"
            class="btn"
          >
            <img src="{% static 'images/tematicas/novelaholocausto.png' %}" alt="Cargando..." />
          </button>
        </div>

        <div class="boton-contenedor">
          <button
            onclick="window.location.href='{% url 'cambioClimatico.html' %}'"
            class="btn"
          >
            <img src="{% static 'images/tematicas/cambioClimatico.png' %}" alt="Cargando..." />
          </button>
        </div>

        <div class="boton-contenedor">
          <button
            onclick="window.location.href='{% url 'promocionesEscolares' %}'"
            class="btn"
          >
            <img src="{% static 'images/tematicas/promocionesEscolares.png' %}" alt="Cargando..." />
          </button>
        </div>

        <div class="boton-contenedor">
          <button onclick="window.location.href='{% url 'destacado' %}'" class="btn">
            <img src="{% static 'images/tematicas/destacado.png' %}" alt="Cargando..." />
          </button>
        </div>
      </div>

      <!-- fin botones 2 -->
    </main>

    {% include 'base/footer.html'%} 
    <!-- jc -->
    <script src="{% static "js/app.js" %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- fin -->
  </body>
</html>
