<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LibreriaFMN/ServicioAlCliente</title>

    {% load static%}

    <link rel="stylesheet" href="{% static 'css/diseño.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <script src="https://kit.fontawesome.com/5c058e9f8c.js" crossorigin="anonymous"></script>
</head>

<body>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>


    {% include 'base/header.html' %}

    <main>
        <!-- Contenido de las preguntas -->

        <h2 id="como-comprar">¿Cómo comprar en LibreriasFMN.cl?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Voluptas totam laborum maiores sunt commodi unde impedit in magni?
            Blanditiis repudiandae veniam neque quia aliquam saepe,
            doloremque magnam nihil ab quis.</p>

        <h2 id="politicas-cambios-devoluciones">Políticas de Cambios y Devoluciones</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Voluptas totam laborum maiores sunt commodi unde impedit in magni?
            Blanditiis repudiandae veniam neque quia aliquam saepe,
            doloremque magnam nihil ab quis.</p>

        <h2 id="Términos, Condiciones y Políticas de Privacidad">Términos, Condiciones y Políticas de Privacidad</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Voluptas totam laborum maiores sunt commodi unde impedit in magni?
            Blanditiis repudiandae veniam neque quia aliquam saepe,
            doloremque magnam nihil ab quis.</p>

        <h2 id="Políticas de Despacho">Políticas de Despacho</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Voluptas totam laborum maiores sunt commodi unde impedit in magni?
            Blanditiis repudiandae veniam neque quia aliquam saepe,
            doloremque magnam nihil ab quis.</p>

        <h2 id="Políticas de Retiro en Tienda">Políticas de Retiro en Tienda</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Voluptas totam laborum maiores sunt commodi unde impedit in magni?
            Blanditiis repudiandae veniam neque quia aliquam saepe,
            doloremque magnam nihil ab quis.</p>


        <h2 id="Medios de Pago">Medios de Pago</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Voluptas totam laborum maiores sunt commodi unde impedit in magni?
            Blanditiis repudiandae veniam neque quia aliquam saepe,
            doloremque magnam nihil ab quis.</p>

        <h2 id="Club Antártica">Club FMN</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Voluptas totam laborum maiores sunt commodi unde impedit in magni?
            Blanditiis repudiandae veniam neque quia aliquam saepe,
            doloremque magnam nihil ab quis.</p>

        <h2 id="Atención al Cliente">Atención al Cliente</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Voluptas totam laborum maiores sunt commodi unde impedit in magni?
            Blanditiis repudiandae veniam neque quia aliquam saepe,
            doloremque magnam nihil ab quis.</p>
    </main>

    {% include 'base/footer.html'%}
       
</body>

</html>