<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión y registro de clientes</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/diseño.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <script src="https://kit.fontawesome.com/5c058e9f8c.js" crossorigin="anonymous"></script>
    <style>
        /* Estilo para ocultar el formulario de registro inicialmente */
        #registro-form {
            display: none;
        }
    </style>
</head>
<body>
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <h2>Iniciar sesión</h2>
        
        <form id="login-form" method="post">
            {% csrf_token %}
            {{ login_form.non_field_errors }}
            
            <div class="form-group">
                <label for="id_username">{{ login_form.username.label }}</label>
                {{ login_form.username }}
                {% if login_form.username.errors %}
                    {% for error in login_form.username.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>
            
            <div class="form-group">
                <label for="id_password">{{ login_form.password.label }}</label>
                {{ login_form.password }}
                {% if login_form.password.errors %}
                    {% for error in login_form.password.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>
            
            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
        </form>

        <hr>

        <!-- Formulario de registro oculto inicialmente -->
        <div id="registro-form">
            <h2>Registro de nuevo cliente</h2>
            
            <form method="post">
                {% csrf_token %}
                {{ registro_form.non_field_errors }}
                
                <div class="form-group">
                    <label for="id_nombre">{{ registro_form.nombre.label }}</label>
                    {{ registro_form.nombre }}
                    {% if registro_form.nombre.errors %}
                        {% for error in registro_form.nombre.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="id_apellido">{{ registro_form.apellido.label }}</label>
                    {{ registro_form.apellido }}
                    {% if registro_form.apellido.errors %}
                        {% for error in registro_form.apellido.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                
                <div class="form-group">
                    <label for="id_email">{{ registro_form.email.label }}</label>
                    {{ registro_form.email }}
                    {% if registro_form.email.errors %}
                        {% for error in registro_form.email.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                
                <div class="form-group">
                    <label for="id_password">{{ registro_form.password.label }}</label>
                    {{ registro_form.password }}
                    {% if registro_form.password.errors %}
                        {% for error in registro_form.password.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                
                <div class="form-group">
                    <label for="id_confirm_password">{{ registro_form.confirm_password.label }}</label>
                    {{ registro_form.confirm_password }}
                    {% if registro_form.confirm_password.errors %}
                        {% for error in registro_form.confirm_password.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="id_genero">{{ registro_form.genero.label }}</label>
                    {{ registro_form.genero }}
                    {% if registro_form.genero.errors %}
                        {% for error in registro_form.genero.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                
                <button type="submit" class="btn btn-primary">Registrarse</button>
            </form>

            <hr>
        </div>

        
        <button id="mostrar-registro" class="btn btn-link">Registrarme como nuevo cliente</button>
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script>
    
        document.getElementById('mostrar-registro').addEventListener('click', function() {
            document.getElementById('login-form').style.display = 'none';
            document.getElementById('registro-form').style.display = 'block';
        });
    </script>
</body>
</html>
