<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LibreriaFMN/NovelasdelHolocausto</title>

  {% load static%}

  <link rel="stylesheet" href="{% static 'css/diseño.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <script src="https://kit.fontawesome.com/5c058e9f8c.js" crossorigin="anonymous"></script>
</head>

<body>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>


  {% include 'base/header.html' %}

  <main>
    <!-- inicio categoria -->
    <br>
    <center>
      <h1>Novelas del Holocausto</h1>
    </center>
<br>
    <!-- cartas -->
    <div class="container-cart-products hidden-cart">
      <div class="row-product hidden">
        <div class="cart-product">
          <div class="info-cart-product">
            <span class="cantidad-producto-carrito">1</span>
            <p class="titulo-producto-carrito"> nombre producto</p>
            <span class="precio-producto-carrito">$16.900</span>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="icon-close">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </div>
      </div>

      <div class="cart-total hidden">
        <h3>Total:</h3>
        <span class="total-pagar">$200</span>
      </div>
      <p class="cart-empty">El carrito está vacío</p>
    </div>
    </div>

    <div class="container-items">

      <div class="item"> 
        <figure>
          <img src="{% static 'images/dsdo/novelasholocausto/anafrank.webp' %}" alt="producto" width="140" />
        </figure>
        <div class="info-product">
          <h2>Ana Frank </h2>
          <p class="price">$6990</p>
          <button class="btn-add-cart">Añadir al carrito</button>
        </div>
      </div>

      <div class="item"> 
        <figure>
          <img src="{% static 'images/dsdo/novelasholocausto/laladronadelibros.webp' %}" alt="producto" width="140" />
        </figure>
        <div class="info-product">
          <h2>La ladrona de libros </h2>
          <p class="price">$10700</p>
          <button class="btn-add-cart">Añadir al carrito</button>
        </div>
      </div>

      <div class="item"> 
        <figure>
          <img src="{% static 'images/dsdo/novelasholocausto/loshornosdehitler.jpg' %}" alt="producto" width="140" />
        </figure>
        <div class="info-product">
          <h2>Los hornos de Hitler </h2>
          <p class="price">$9690</p>
          <button class="btn-add-cart">Añadir al carrito</button>
        </div>
      </div>

   
      <div class="item"> 
        <figure>
          <img src="{% static 'images/dsdo/novelasholocausto/elchicoquesiguióasupadrehastaauschwitz.jpg' %}" alt="producto" width="140" />
        </figure>
        <div class="info-product">
          <h2>El chico que siguió a su padre hasta Auschwitz </h2>
          <p class="price">$6890</p>
          <button class="btn-add-cart">Añadir al carrito</button>
        </div>
      </div>

      <div class="item"> 
        <figure>
          <img src="{% static 'images/dsdo/novelasholocausto/enalgúnlugartodavíabrillaelsol.jpg' %}" alt="producto" width="140" />
        </figure>
        <div class="info-product">
          <h2>En algún lugar todavía brilla el sol </h2>
          <p class="price">$7900</p>
          <button class="btn-add-cart">Añadir al carrito</button>
        </div>
      </div>


      <div class="item"> 
        <figure>
          <img src="{% static 'images/dsdo/novelasholocausto/elniñoconelpijamaderayas.jpg' %}" alt="producto" width="140" />
        </figure>
        <div class="info-product">
          <h2>El niño con el pijama de rayas </h2>
          <p class="price">$10990</p>
          <button class="btn-add-cart">Añadir al carrito</button>
        </div>
      </div>

    <div class="item"> 
        <figure>
          <img src="{% static 'images/dsdo/novelasholocausto/paraentenderelholocausto.webp' %}" alt="producto" width="140" />
        </figure>
        <div class="info-product">
          <h2>Para entender el holocausto</h2>
          <p class="price">$7650</p>
          <button class="btn-add-cart">Añadir al carrito</button>
        </div>
      </div>

<div class="item"> 
        <figure>
          <img src="{% static 'images/dsdo/novelasholocausto/patriarobertharris.png' %}" alt="producto" width="140" />
        </figure>
        <div class="info-product">
          <h2>Patria Robert Harris </h2>
          <p class="price">$6990</p>
          <button class="btn-add-cart">Añadir al carrito</button>
        </div>
      </div>

<div class="item"> 
        <figure>
          <img src="{% static 'images/dsdo/novelasholocausto/40abrigosyunbotón.jpg' %}" alt="producto" width="140" />
        </figure>
        <div class="info-product">
          <h2>40 Abrigos y un botón </h2>
          <p class="price">$5690</p>
          <button class="btn-add-cart">Añadir al carrito</button>
        </div>
      </div>    
    </div>

  </main>

  <br>
  {% include 'base/footer.html'%}
  
  <script src="{% static "js/app.js" %}"></script>

</body>

</html>