<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LibreriaFMN/sagas</title>

  {% load static%}

  <link rel="stylesheet" href="{% static 'css/diseño.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}s" />
  <script src="https://kit.fontawesome.com/5c058e9f8c.js" crossorigin="anonymous"></script>
</head>

<body>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

  {% include 'base/header.html' %}

  <main>
    <div class="container">
      <!-- Botones para cada saga -->
      <div class="boton-contenedor">
        <button onclick="mostrarCartas('reinaroja')" class="btn">
          <img src="destacado/sagas/reinarojasaga/reinaroja.png" alt="Reina Roja" />
        </button>
      </div>

      <div class="boton-contenedor">
        <button onclick="mostrarCartas('crepusculosaga')" class="btn">
          <img src="destacado/sagas/crepusculosaga/CREPUSCULO.png" alt="Crepúsculo" />
        </button>
      </div>

      <div class="boton-contenedor">
        <button onclick="mostrarCartas('BRIDGERTON')" class="btn">
          <img src="destacado/sagas/BRIDGERTON/BRIDGERTON.png" alt="Crepúsculo" />
        </button>
      </div>

      <div class="boton-contenedor">
        <button onclick="mostrarCartas('heartstoppersaga')" class="btn">
          <img src="destacado/sagas/heartstoppersaga/HEARTSTOPPER.png" alt="Crepúsculo" />
        </button>
      </div>

      <div class="boton-contenedor">
        <button onclick="mostrarCartas('unacortederosasyespinassaga')" class="btn">
          <img src="destacado/sagas/unacortederosasyespinassaga/una corte de rosas y espinas.png" alt="Crepúsculo" />
        </button>
      </div>

      <div class="boton-contenedor">
        <button onclick="mostrarCartas('CINCUENTASOMBRAS')" class="btn">
          <img src="destacado/sagas/CINCUENTASOMBRAS/50 SOMBRAS.png" alt="Crepúsculo" />
        </button>
      </div>

      <div class="boton-contenedor">
        <button onclick="mostrarCartas('HUNGRYGAMES')" class="btn">
          <img src="destacado/sagas/HUNGRYGAMES/HUNGRY GAMES.png" alt="Crepúsculo" />
        </button>
      </div>

      <!-- cartas -->
      <div id="container-cartas" class="container-cart-products hidden-cart">
        <div class="row-product">
          <div class="cart-product">
            <div class="info-cart-product">
              <span class="cantidad-producto-carrito">1</span>
              <p class="titulo-producto-carrito">La reina roja</p>
              <span class="precio-producto-carrito">$17900</span>
            </div>
            <img src="destacado/sagas/reinarojasaga/lareinaroja.webp" alt="Título del libro 1" width="140" />
          </div>
        </div>
        <!-- Más cartas para la saga "Reina Roja" -->
      </div>
      
      
<!-- fin -->
      <!-- Paginación -->
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <!-- Los elementos de paginación se agregarán aquí con JavaScript -->
        </ul>
      </nav>
    </div>
  </main>


  {% include 'base/footer.html'%}
  
  <script src="app.js"></script>

</body>

</html>