{% load static %}


    <div class="container">
      <!--  Logo y mapa -->
      <div class="section">
        <div class="logo-section">
          <div class="container-fluid">
            <a class="navbar-brand">
              <h4>Conoce Nuestras Tiendas</h4>
            </a>
          </div>
        </div>
        <div class="map-section">
          <div class="conteMapa">
            <a href="https://www.google.com/maps/search/tiendas+antartica/@-33.4907906,-70.6534741,11z?entry=ttu">
              <img src="{% static 'images/imgn.img/logo.png' %}" alt="Cargando..." width="340" height="220" />
            </a>
          </div>
        </div>
      </div>
      <!-- Fin  -->

      <!--  Envío, contacto y método de pago -->
      <div class="section">
        <div class="icons">
          <div class="icon">
            <i class="fa-solid fa-truck-fast"></i>
            <p>Envío a todo Chile</p>
          </div>
          <div class="icon">
            <i class="fa-solid fa-phone"></i>
            <p>Contacto: +569 12345678</p>
          </div>
          <div class="icon">
            <i class="fa-solid fa-credit-card"></i>
            <p>Medios de Pago</p>

          </div>
        </div>
      </div>
      <!-- Fin -->

      <!-- quienes somos -->
      <div class="section">
        <div class="about-us">
          <h3>Quiénes somos</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis fermentum lorem. Aliquam erat volutpat.
            Integer vel volutpat orci.</p>
          <button class="btn">Ver más</button>
        </div>
      </div>
      <!-- fin quienes somos  -->
    </div>
    <!-- fin general -->

    <br>
    <hr>
    <div class="container">
      <div class="contelogo">
        <img src="{% static 'images/imgn.img/LogoLibreria.jpg' %}" alt="Cargando" width="200">
      </div>
      <div class="col">
        <div>
          <p class="title">SERVICIO AL CLIENTE</p>
          <ul>
            <li><a href="{% url 'index2' %}">¿Cómo comprar en libreriasfmn.cl?</a></li>
            <li><a href="{% url 'index2' %}">Políticas de Cambios y Devoluciones</a></li>
            <li><a href="{% url 'index2' %}">Términos, Condiciones y Políticas de Privacidad</a></li>
            <li><a href="{% url 'index2' %}">Políticas de Despacho</a></li>
            <li><a href="{% url 'index2' %}">Políticas de Retiro en Tienda</a></li>
            <li><a href="{% url 'index2' %}">Medios de Pago</a></li>
            <li><a href="{% url 'index2' %}">Club FMN</a></li>
            <li><a href="{% url 'index2' %}">Atención al Cliente</a></li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="content">
          <p class="title">COMPRA POR CATEGORÍA</p>
          <ul>
            <li><a href="#libros">Libros</a></li>
            <li><a href="#libros-importados">Libros Importados</a></li>
            <li><a href="#infantil-juvenil">Infantil y Juvenil</a></li>
            <li><a href="#juegos-accesorios">Juegos y Accesorios</a></li>
            <li><a href="#textos-escolares">Textos Escolares</a></li>
            <li><a href="destacado.html">Destacado</a></li>
            <li><a href="#promociones">Promociones</a></li>
            <li><a
                href="https://www.google.com/maps/search/tiendas+antartica/@-33.4907906,-70.6534741,11z?entry=ttu">Librerias
                FMN</a></li>
          </ul>
        </div>
        <div class="content">
          <p class="title">NUESTRA EMPRESA</p>
          <ul>
            <li><a
                href="https://www.google.com/maps/search/tiendas+antartica/@-33.4907906,-70.6534741,11z?entry=ttu">Nuestras
                Tiendas</a></li>
          </ul>
        </div>
        <div class="content">
          <p class="title">CONTACTO</p>
          <ul>
            <li><a href="mailto:ventaonline@libreriasfmn.cl">ventaonline@libreriasfmn.cl</a></li>
            <li><a href="tel:+569 12345678">+569 12345678</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- fin preguntas -->

    <br />
    <!-- inicio copyrigth -->

    <center>© Todos los derechos reservados a FMN Librerias</center>

    <!-- fin copyrigth -->
  