{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <img src="{% static 'images/imgn.img/logo.png' %}" alt="Cargando..." width="120" />
        <a class="navbar-brand me-auto">Libreria FMN</a>

        <div id="ctn-bars-search">
            <input type="text" id="inputSearch" placeholder="¿Qué deseas buscar?">
        </div>

        <ul id="box-search">

            <li><a href="{% static destacado.html %}"><i class="fas fa-search"></i> Destacado</a></li> 
            <li><a href="{% static comicmanga.html %}"><i class="fas fa-search"></i>Comics</a></li>
            <li><a href="{% static comicmanga.html %}"><i class="fas fa-search"></i>Mangas</a></li>
            <li><a href="{% static cambioclimatico.html %}"><i class="fas fa-search"></i>Cambio Climático</a></li>
            <li><a href="{% static novelaholocausto.html %}"><i class="fas fa-search"></i>Novelas del Holocausto</a></li>
            <li><a href="{% static descuentos.html %}"><i class="fas fa-search"></i>Descuentos</a></li>
            <li><a href="{% static harryPotter.html %}"><i class="fas fa-search"></i>Harry Potter</a></li>
            <li><a href="{% static promocionesEscolares.html %}"><i class="fas fa-search"></i>Promociones Escolares</a></li>
        </ul>

        <div id="cover-ctn-search"></div>
        <div class="d-flex align-items-center">
          <!-- Contenedor de los íconos -->
          <div class="container-icon d-flex align-items-center me-3">
            <!-- Icono del carrito -->
            <div class="container-cart-icon position-relative me-3">
              <i class="fa-solid fa-cart-shopping"></i>
              <div class="count-products position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                <span id="contador-productos">0</span>
              </div>
            </div>
            <!-- Icono del corazón -->
            <i class="fa-solid fa-heart-circle-check fs-4 me-3" data-bs-toggle="modal" data-bs-target="#corazonModal"></i>
          </div>
          <!-- Botón de inicio de sesión -->
          <button id="loginButton" class="btn">Iniciar Sesión</button>
        </div>
      </div>
    </nav>
  
  <!-- Contenedor del formulario de inicio de sesión y registro -->
  <div class="fondo" id="loginForm">
    <span class="icono-cerrar"><i class="fa-solid fa-xmark"></i></span>
  
    <!-- Formulario de inicio de sesión -->
    <div class="contenedor-form Login" id="loginFormContent">
      <h2>Iniciar Sesión</h2>
      <form action="#">
        <div class="contenedor-input">
          <span class="icono"><i class="fa-solid fa-envelope"></i></span>
          <input type="email" required>
          <label for="#">Email</label>
        </div>
        <div class="contenedor-input">
          <span class="icono"><i class="fa-solid fa-lock"></i></span>
          <input type="password" required>
          <label for="#">Contraseña</label>
        </div>
        <div class="recordar">
          <label for="#"><input type="checkbox">Recordar Sesión</label>
          <a href="#">¿Olvidé la Contraseña?</a>
        </div>
        <button type="submit" class="btn">Iniciar Sesión</button>
        <div class="registrar">
          <p>¿No tienes cuenta?<a href="#" class="registrar-link">Registrarse</a></p>
        </div>
      </form>
    </div>
  
    <!-- Formulario de registro -->
    <div class="contenedor-form registrar" id="registroFormContent">
      <h2>Registrarse</h2>
      <form action="#">
        <div class="contenedor-input">
          <span class="icono"><i class="fa-solid fa-user"></i></span>
          <input type="text" required>
          <label for="#">Nombre de Usuario</label>
        </div>
        <div class="contenedor-input">
          <span class="icono"><i class="fa-solid fa-envelope"></i></span>
          <input type="email" required>
          <label for="#">Email</label>
        </div>
        <div class="contenedor-input">
          <span class="icono"><i class="fa-solid fa-lock"></i></span>
          <input type="password" required>
          <label for="#">Contraseña</label>
        </div>
        <div class="recordar">
          <label for="#"><input type="checkbox">Acepto los términos y condiciones</label>
        </div>
        <button type="submit" class="btn">Registrarme</button>
        <div class="registrar">
          <p>¿Tienes una cuenta? <a href="#" class="login-link">Iniciar Sesión</a></p>
        </div>
      </form>
    </div>
  </div>
  
  <!-- Modal deseados -->
  <div class="modal fade" id="corazonModal" tabindex="-1" aria-labelledby="corazonModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="corazonModalLabel">Lista de deseos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Necesita tener una cuenta para agregar libros a la lista...
        </div>
      </div>
    </div>
  </div>
  
    <!-- Inicio link -->
  
    <nav class="navegacion">
      <ul class="menu">
        <li><a href="#">Libros</a>
          <ul class="submenu">
            <li><a href="#libros">Libros</a></li>
            <li><a href="#libros-importados">Libros Importados</a></li>
            <li><a href="#infantil-juvenil">Infantil y Juvenil</a></li>
            <li><a href="#juegos-accesorios">Juegos y Accesorios</a></li>
            <li><a href="#textos-escolares">Textos Escolares</a></li>
            <li><a href="destacado.html">Destacado</a></li>
            <li><a href="#promociones">Promociones</a></li>
          </ul>
        </li>
        <li><a href="#">Nosotros</a>
          <ul class="submenu">
            <li><a href="#">¿Quienes Somos?</a></li>
            <li><a href="{% static index2.html %}">Servicio al Cliente</a></li>
            <li><a
                href="https://www.google.com/maps/search/tiendas+antartica/@-33.4907906,-70.6534741,11z?entry=ttu">Nuestras
                Tiendas</a></li>
          </ul>
        </li>
        <li><a href="#">Servicios</a>
          <ul class="submenu">
            <li><a href="#">servicio1</a></li>
            <li><a href="#">servicio2</a></li>
            <li><a href="#">servicio3</a></li>
          </ul>
        </li>
        <li><a href="#">Contacto</a>
          <ul class="submenu">
            <li><a href="#">Correo : ventaonline@libreriasfmn.cl</a></li>
            <li><a href="#">Contacto Central: +569 12345678</a></li>
  
          </ul>
      </ul>
    </nav>